.preview img {
  max-width: 400px;
  float: left;
  margin-right: 30px;
}

.preview {
  margin: 20px;
  margin-bottom: 150px;
}

.intro{
  text-align: center;
  background-color: #ccffff;
  margin: 20px;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 80px;
  line-height: 30px;
  float: left;
  max-width: 800px;
}

.nav {
  list-style: none;
  display: inline;

}

header {
  background-color: Gray;
  line-height: 50px;
  color: white;
  }

.nav {
  padding-left: 20%;
}

.columns {
  text-align: center;
  max-width: 320px;
  padding: 50px;
  float: left;
}

.sidebar {
  text-align: left;
  background-color: #ccffff;
  margin: 10px;
  padding: 15px;
  padding-left: 10px;
  padding-right: 30px;
  margin-bottom: 80px;
  line-height: 30px;
  float: left;
  max-width: 160px;
  height: 380px;
}

.aboutimage{
  max-width: 30%;
}
